.userMenu_box {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  height: 15px;
  width: 1300px;
  color: black;
}

.userMenu_userName {
  color: rgb(0, 0, 0);
  font-size: large;
  font-weight: 500;
}

.userMenu_btn {
  margin-left: 12px;
  min-width: 80px;
}
